* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 200px;
    background-color: #f8ca00;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 600px;
    height: 200px;
    display: flex;
}

#dadosCabecalho {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-right: 30vh;
}

#input {
    width: 50vw;
    background-color: aquamarine;
    margin: auto;
    text-align: center;
}

.inputDados {
    padding: 10px;
    background-color: #f8ca00;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    display: block
}

main>h1 {
    text-align: center;
}

.dados {
    justify-items: center;
    display: grid;
    grid-template-areas: "data hoje proximoMes" "altura p1 p6" "peso p2 p7" "pesoIdeal p3 p8" "imc p4 p9" "massaGorda p5 p10";
}

.lista {
    background-color: #f53c65;
    width: 90%;
}

#dados>p,
#hoje,
#proximoMes {
    text-align: center;
}